.body {
    overflow-x: hidden;

    width: 100vw;
    background-image: url("../images/Forms/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
button.swal2-confirm.btn.btn-success {
    font-weight: 500;
    padding: 0.5vh 1vw;
    background-color: #b9f7eb;
    border-radius: 6px;
    min-height: 25px;
    font-size: max(2vmin, 11px);
    font-weight: 600;
    background: linear-gradient(135deg, #226e8c, #0d4155);
    color: white;
    border: none;
    height: 5vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 15px;
}
button.swal2-cancel.btn.btn-danger {
    font-weight: 500;
    padding: 0.5vh 1vw;
    border-radius: 6px;
    font-size: max(2vmin, 11px);
    font-weight: 600;
    background-image: linear-gradient(140deg, #c3c3c3 20%, #a3a3a3 60%);
    color: #ffffff;
    border: none;
    height: 5vh;
    min-height: 25px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 15px;
    margin-right: 2vw;
}
h2#swal2-title.swal2-title {
    color: #226e8c;
    font-size: max(4vmin, 15px);
}
div#swal2-html-container.swal2-html-container {
    font-size: max(2.5vmin, 11px);
}
div.swal2-icon.swal2-warning.swal2-icon-show {
    height: 11vmin;
    min-height: 45px;
    width: 11vmin;
    min-width: 45px;
    font-size: max(2.5vmin, 10px);
}
div.swal2-icon.swal2-error.swal2-icon-show {
    height: 11vmin;
    min-height: 45px;
    width: 11vmin;
    min-width: 45px;
    font-size: max(2.5vmin, 10px);
}
div.swal2-icon.swal2-success.swal2-icon-show {
    height: 11vmin;
    min-height: 45px;
    width: 11vmin;
    min-width: 45px;
    font-size: max(2.2vmin, 9px);
}
span.swal2-x-mark {
    font-size: max(2.2vmin, 9px);
}
div.swal2-popup.swal2-modal.swal2-show {
    border-radius: 20px;
}
::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: "carnival";
    src: url(../Carnival.ttf);
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
@font-face {
    font-family: "TubularHollow";
    src: url("../KGRedHandsOutline.ttf");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
