.HomePage .useCaseSection {
    padding: 5vh 2vw 10vh 2vw;
    margin-bottom: 8vh;
    text-align: center;
}
.HomePage .useCaseSection .useCaseCards {
    display: flex;
    justify-content: space-between;
}
.HomePage .useCaseSection .useCaseTitle {
    font-size: max(5vmin, 18px);
    margin: 0 0 6vh 0;
    color: #1c627e;
    font-family: TubularHollow;
    padding: 0;
}
