.HomePage .DoctorsSection {
    padding: 5vh 2vw 10vh 2vw;
    text-align: center;
}
.HomePage .DoctorsSection .DoctorsTitle {
    font-size: max(5vmin, 18px);
    margin: 0 0 4vh 0;
    color: #1c627e;
    font-family: TubularHollow;
    padding: 0;
}
.HomePage .DoctorsSection .Doctorstext {
    font-size: max(2.54vmin, 13px);
    font-weight: 500;
    width: 60vw;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.HomePage .DoctorsSection .TopDoctors {
    display: flex;
    justify-content: space-evenly;
}
.HomePage .DoctorsSection .Doctorsbutton button {
    font-weight: 500;
    padding: 0.5vh 1vw;
    background-color: #b9f7eb;
    border-radius: 6px;
    min-height: 25px;
    font-size: max(2.5vmin, 13px);
    font-weight: 600;
    background: linear-gradient(135deg, #226e8c 20%, #1a5066 60%);
    color: white;
    border: none;
    height: 6vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2vh;
    min-width: 70px;
    margin-top: 10vh;
}
