.BankTitle {
    color: #226e8c;
    font-size: max(3vmin, 15px);
    font-weight: 500;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.BankTitle .title{
    margin-left: auto;
    margin-right: auto;
}