.posforMessages {
    position: relative;
    top: 40px;
    margin-top: 8vh;
    margin-bottom: 10vh;
}

.posforMessages .messages-section {
    background-color: #558da39e;
    border-radius: 10px;
    box-shadow: -5px 0px 10px -2px #01010149;
    height: 600px;
}

.posforMessages .input {
    border-radius: 10px;
    margin-left: auto;
    box-shadow: -5px 0px 10px -2px #01010149;
    color: #000000;
}

.posforMessages .img:hover {
    color: aqua;
}

.posforMessages img {
    border-radius: 50%;
}

.posforMessages::-webkit-scrollbar {
    width: 0px;
}

.posforMessages::-webkit-scrollbar-track {
    background: white;
    border-radius: 15px;
}

.posforMessages::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 15px;
}

.posforMessages::-webkit-scrollbar-thumb:hover {
    background: burlywood;
}

.posforMessages .rec {
    background-color: #6aa3b99e;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.posforMessages .send {
    background-color: rgba(91, 100, 101, 0.679);
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.posforMessages .messagesSection {
    border-radius: 0%;
    background-image: url("../images/chatBG-03.png");
    background-color: #558da39e;
    background-size: cover; /* Make the background image cover the entire element */
    background-position: center; /* Center the background image */
    opacity: 0.8; /* Adjust the opacity of the background image */
    -webkit-box-shadow: 0 0 10px 2px #3e3e3e;
    box-shadow: 0 0 10px 2px #3e3e3e inset;
}
