.Doctor .cards
{
     box-shadow: -5px 0px 10px -2px #01010152;
     max-height: 400px;
     background-color: #ffffffd5;
     max-width: 400px;
     color: black;     
} 


.Doctor .medalia
{
     background-size: 4em 2em;
     height: 2em;
     width: 2em;
     content:"";
     display: inline-block;
}

.Doctor .botton
{
     color: white;
     background: linear-gradient(135deg, #226e8c, #0d4155);
}
 
.Doctor .cards:hover
{
     background-color: #198a5d9b;
     
}

.Doctor .doctorInfo
{
     color: black;
}


.Doctor ::-webkit-scrollbar
{
     width:8px;
     
}

.Doctor ::-webkit-scrollbar-track
{
     background: rgb(142, 32, 32);
     border-radius: 15px;
}

.Doctor ::-webkit-scrollbar-thumb
{
     background: gray;
     border-radius: 15px;
}
.Doctor .chatBookButton{
     display: flex;
}