.AddSecretaryForm .label {
    margin-bottom: 2vh;
    font-size: max(2.6vmin, 16px);
    font-weight: 400;
    color: #0d4155;
}

.AddSecretaryForm input {
    background-color: #00000009;
    margin-bottom: 2vh;
    box-shadow: 0 4px 5px 0 #4e798877;
    height: 3vh;
    font-size: max(2vmin, 13px);
}
.AddSecretaryForm input {
    margin-bottom: 0.2vh;
    font-size: max(2vmin, 11px);
}
.AddSecretaryForm input:active {
    border: none;
    outline: none;
}
.AddSecretaryForm .submitPart {
    display: grid;
    place-items: center;
}
.AddSecretaryForm .button {
    font-weight: 500;
    padding: 0.5vh 1vw;
    background-color: #b9f7eb;
    border-radius: 6px;
    min-height: 25px;
    font-size: max(2vmin, 13px);
    font-weight: 600;
    background-image: linear-gradient(140deg, #b9f7eb8c 20%, #87bed28c 60%);
    color: #0d4155;
    border: none;
    height: 5vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2vh;
    min-width: 70px;
}


.AddSecretaryForm a {
    font-weight: 400;
    color: #0d4155;
    text-decoration: none;
}
.AddSecretaryForm .swapPart {
    display: grid;
    place-items: center;
}
.AddSecretaryForm .swap {
    background-color: #fff7da00;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 5vmin;
    margin-top: 8vh;
    color: rgb(143, 143, 143);
    font-style: italic;
}
