.user .car {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    color: #010101a7;
    background-color: rgba(255, 255, 250, 0.87);
}

.user .car:hover {
    background-color: #198a5d9b;
    color: #ffffffd5;
}

.user .doctor {
    background-color: #5758BB;
    border: #5758BB;
}

.user .profile {
    background-color: #5758BB;
    border: #5758BB;
}


.user .best {
    border: 3px solid #ffffff49;
    box-shadow: -5px 0px 10px -2px #01010152;
    border-radius: 5%;
    width: 250px;
    height: auto;
    text-align: center;
    color: #010101a7;
    background-color: rgba(255, 255, 250, 0.87);
    font-weight: 700;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user .doctor:hover {
    background-color: #9980FA;
    height: 30%;
    width: 50%;
    font-size: x-large;
}

.user .profile:hover {
    background-color: #9980FA;
}

.user .e-mail {
    border-radius: 50%;
}

.user .whole .vv .video {
    height: 500px;
    width: 660px;
}