
 .Types {
    background:linear-gradient(135deg,rgba(255, 255, 255, 0.504),rgba(255, 255, 255, 0.247));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px 2px #6f6f6f82;  
    border-radius: 20px;
    width: 90vw;
    border-radius: 20px;
    border-radius: 20px;
    padding: 4vh 2vw;
    font-size: max(3.5vmin, 13px);
    font-weight: 600;
    color: #115069;
    height: min-content;
}
.Types .Type {
    margin-top: 2vh;
}
.Types .partHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    font-size: max(2vmin, 11px);

}
 .Types .partTitle {
    margin-left: 2vw;
    font-size: max(3.2vmin, 12px);
    font-weight: 600;
    color: #0d4155;
    margin-bottom: 0;

}
.Types .NewButton{
    border: 1px solid #1c627e;
    border-radius: 6px;
    padding: 0.5% 1.3% 0.5% 1.3%;
    margin: auto 1vw;
    text-decoration: none;
    color: #1c627e;
    font-weight: 500;
}
.Types .TypesDiv{
    display: flex;
}
 .Types button {
    border: none;
    background-image: none;
    border-radius: 6px;
    padding: 0.5vh 1.3vw;
    color: #1c627e;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: max(2.3vmin, 11px);
    font-weight: 600;
    margin: 3vh 0.5vw 0vh 0.5vw;
}
 .Types .selected {
    background-color: #b9f7eb;
    border: none;
    background: linear-gradient(135deg, #226e8c, #0d4155);
    border-radius: 6px;
    padding: 0.5vh 1.3vw;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: max(2.1vmin, 11px);
    font-weight: 600;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 3vh 1vw 0vh 1vw;

}
