.AddSecretary {
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    padding-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.AddSecretaryForm {
    background-color: #ffffffc8;
    width: 60vw;
    height: 72vh;
    border-radius: 20px;
    align-items: center;
    align-self: center;
    align-self: baseline;
    justify-items: center;
    justify-content: center;
    position: fixed;
    top: 18vh;
    left: 20%;
    color: black;
    display: flex;
    box-shadow: 0px 0px 10px 8px #87bed249;
}

.AddSecretaryForm .pic {
    background-color: #f6f0dd;
    background-image: url("../images/Forms/girl.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 1000;
    width: 30vw;
    height: 100%;
    padding-top: 2vh;
    transition: transform 0.5s ease-in-out;
    border-radius: 20px 0 0 20px;
}

.AddSecretaryForm .right {
    width: 50%;
    height: 100%;
    padding: 3.5vh 3vw;
    align-content: center;
}

.AddSecretaryForm .title {
    margin-bottom: 1vh;
    text-align: center;
    font-size: max(3.7vmin, 22px);
    font-weight: 600;
    font-style: italic;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: #1d5f76;
}
@media screen and (max-width: 750px) {
    .AddSecretary {
        padding-top: 15vh;
        height: auto;
        background-color: #01010100;
    }
    .AddSecretaryForm {
        background-color: #ffffffc8;
        width: 80vw;
        height: auto;
        border-radius: 20px;
        align-items: center;
        align-self: center;
        align-self: baseline;
        justify-items: center;
        justify-content: center;
        position: relative;
        top: 0vh;
        left: 10vw;
        color: black;
        box-shadow: 0px 0px 10px 8px #87bed249;
        display: grid;
        place-items: center;
        margin-bottom: 5vh;
    }

    .AddSecretaryForm .pic {
        background-color: #fff7da;
        background-image: url("../images/Forms/GirlWide.png");
        background-size: 80vh;
        background-repeat: no-repeat;
        background-position: bottom;
        z-index: 1000;
        width: 80vw;
        height: 75vh;
        padding-top: 2h;
        transition: transform 0.5s ease-in-out;
        border-radius: 20px 20px 0px 0px;
    }
    .AddSecretaryForm .right {
        width: 100%;
        padding: 3vh 5vw;
        height: 75vh;
    }
}
