 .Bankmodal .grid2{
    display: grid;
    grid-template-columns: repeat(2, 5fr);}
 .Bankmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}
.Bankmodal .BankTitle {
    color: #226e8c;
    font-size: max(3vmin, 15px);
    font-weight: 500;
    margin-bottom: 5vh;
}
.Bankmodal .Bankmodal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-radius: 20px;
    width: fit-content;
    max-width: 50vw;
    margin-top: 8vh;


}
.Bankmodal .BankTitle{
    color: #226e8c;
    font-size: max(3vmin, 15px);
    font-weight: 500;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
}

.Bankmodal .notesPart{
    text-align: start;
    margin-left: 2vw;
    margin-bottom: 2vh;
    color: #0d4155b2;
}
.Bankmodal .Bank{
    margin: 0vw 2vh;
}
.Bankmodal .BankInfo{
    display: flex;
}
.Bankmodal .BankName{
    text-align: start;
    margin-bottom: 1vh;
    font-size: max(2.3vmin,15px);

}
.Bankmodal .BankLogo{
    width: 5vh;
    background-color: rgba(255, 255, 255, 0.573);
    box-shadow: 2px 2px 5px 0 #4e798877 inset;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 5vh;
    margin-right: 0.2vw;
    border-radius: 10px 0px 0px 10px;
}
.Bankmodal .BankImage{
    width: 3vh;
    height: 3vh;
    margin-left: 0.1vw;
}
.Bankmodal .BankInput{
    margin-bottom: 0.2vh;
    height: 5vh;
    width: 18vw;
    margin-bottom: 1.5vh;
    padding-left: 1vw;
    background-color: rgba(255, 255, 255, 0.573);
    color: #0d4155;
    border-radius: 0px 10px 10px 0px;
    font-size: max(2vmin, 12px);
    box-shadow: 2px 2px 5px 0 #4e798877 inset;
}
.Bankmodal .BankButtons{
    display: flex;
    justify-content: center;
}
.Bankmodal .BankButtons button {
    font-weight: 500;
    padding: 1vh 1vw;
    border-radius: 6px;
    min-height: 25px;
    font-size: max(2.4vmin, 13px);
    font-weight: 600;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 90px;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.Bankmodal .okButton{
    background-image: linear-gradient(140deg, #b9f7eb8c 20%, #87bed28c 60%);
    background-color: #b9f7eb;
    color: #226e8c;

}
.Bankmodal .cancelButton{
    background-image: linear-gradient(140deg, #5151518c 20%, #bababa8c 60%);
    background-color: #535353;
    color: white;

}
