
.PatientInfo .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.PatientInfo .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-radius: 20px;
    width: 50vw;
}
.PatientInfo .InfoTitle {
    color: #226e8c;
    font-size: max(3vmin, 15px);
    font-weight: 500;
    margin-bottom: 2vh;
    display: flex;
}
.PatientInfo .notesPart{
    text-align: start;
    margin-left: 2vw;
    margin-bottom: 2vh;
    color: #0d4155b2;
}
.PatientInfo .InfoTitle .hasexit{
    margin-left: auto;
}
.PatientInfo .InfoTitle .exitButton {
    margin-left: auto;
}
.PatientInfo .grid2{
    display: grid;
    grid-template-columns: repeat(2, 5fr);
}
.PatientInfo .info{
    margin: 0vw 2vh;
}
.PatientInfo .infoName{
    text-align: start;
    margin-left: 1vw;
    margin-bottom: 1vh;

}
.PatientInfo .requiredstar{color: rgb(150, 29, 29);}
.PatientInfo .infoInput{
    margin-bottom: 0.2vh;
    height: 6vh;
    width: 20vw;
    margin-bottom: 5vh;
    padding-left: 1vw;
    background-color: rgba(255, 255, 255, 0.573);
    color: #0d4155;
    border-radius: 10px;
    font-size: max(2vmin, 12px);
    box-shadow: 2px 2px 5px 0 #4e798877 inset;
}
.PatientInfo .alone{
    margin-bottom: 0.2vh;
    height: 6vh;
    width: 43.5vw;
    margin-bottom: 5vh;
    padding-left: 1vw;
    background-color: rgba(255, 255, 255, 0.573);
    color: #0d4155;
    border-radius: 10px;
    font-size: max(2vmin, 12px);
    box-shadow: 2px 2px 5px 0 #4e798877 inset;
}

.PatientInfo .area{
    height: 10vh;

}
.PatientInfo .InfoButtons{
    display: flex;
}
.PatientInfo .InfoButtons button {
    font-weight: 500;
    padding: 1vh 1vw;
    border-radius: 6px;
    min-height: 25px;
    font-size: max(2.4vmin, 13px);
    font-weight: 600;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 70px;
    margin-top: 2vh;
}
.PatientInfo .okButton{
    background-image: linear-gradient(140deg, #b9f7eb8c 20%, #87bed28c 60%);
    background-color: #b9f7eb;
    color: #226e8c;

}
  .PatientInfo .prevButton {
    /* Move to the left edge of the container */
    margin-right: auto;
    background-image: linear-gradient(140deg, #ddd9d9bc 30%, #a1a1a1d5 70%);

  }
  
  .PatientInfo .nextButton {
    /* Move to the right edge of the container */
    margin-left: auto;
    background-image: linear-gradient(140deg, #ddd9d98c 30%, #a1a1a1d5 70%);

  }
  
  .PatientInfo .saveButton {
    /* Center horizontally within remaining space */
    margin: 0 10px; /* Adjust margin for spacing as needed */
  }