.Schedule {
    min-height: 90vh;
    width: 92vw;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}
.Schedule .Title {
    font-size: max(4.5vmin, 17px);
    font-weight: 700;
    margin-bottom: 3vh;
    color: #0d4155c6;
    display: flex;
    position: relative;
}
.Schedule .AddBankButton{
    padding: 1vh 1vw;
    border-radius: 6px;
    min-height: 25px;
    height: fit-content;
    font-size: max(2.4vmin, 13px);
    font-weight: 500;
    background: linear-gradient(135deg, #226e8c, #0d4155);
    color: white;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 70px;
  

}
.Schedule .Titletext {
    margin-left: auto;
    margin-right: 40vw;
    width: 14vw;
}
.Schedule .button-box {
    width: 12vw;
    position: absolute;
    display: flex;
    border-radius: 30px;
    background: #fff;
    right: 0;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);

}

.Schedule .toggle-btn {
    font-size: max(2.5vmin, 12px);
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    width: 6vw;
    padding: 1vh 1vw;
    transition: 0.5s;
}

.Schedule .selected {
    color: white;
}

.Schedule .btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 6vw;
    height: 100%;
    background: linear-gradient(135deg, #226e8c, #0d4155);
    border-radius: 30px;
    box-shadow: 3px 0px 8px 2px #6f6f6f82;

    transition: 0.5s;
}
.Schedule .left {
    left: 6vw;
    box-shadow: -3px 0px 8px 2px #6f6f6f82;

}
.Schedule .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95vw;
}
.Schedule .loader{
    width: 95vw;
    margin-top: 0;
}
.Schedule .grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2vh 3vw;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.504),
        rgba(255, 255, 255, 0.247)
    );

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px 2px #6f6f6f82;
    border-radius: 20px;
    padding: 1%;
}
.Schedule .time {
    display: flex;
    border-radius: 8vmin;
    justify-content: space-evenly;
    width: 5vw;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: auto;
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 2px 2px 4px 1px #6f6f6f82;
    background: linear-gradient(135deg, #226e8c, #0d4155);

}

.Schedule .checked{
    background: linear-gradient(135deg, #f6f4ef, #e5decb);
    color: #226e8c;
    font-weight: 700;

}

.Schedule .add {
    background-color: #ffffffcf;
    margin-left: 9%;
    color: #226e8c;
    font-weight: 600;
    font-size: 2.1vmin;
    padding: 0px;
    background: linear-gradient(135deg, #ffffff, #e9e9e9);

}
.Schedule .day {
    color: #0d4155c6;
    font-size: max(2.9vmin, 12px);
    margin-bottom: 2vh;
    margin-top: 5vh;
    font-weight: 600;
}
.Schedule .SaveButton {
    font-weight: 500;
    padding: 1vh 1vw;
    background-color: #b9f7eb;
    border-radius: 6px;
    min-height: 25px;
    font-size: max(2.4vmin, 13px);
    font-weight: 600;
    background-image: linear-gradient(140deg, #b9f7eb8c 20%, #87bed28c 60%);
    color: #226e8c;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
.Schedule .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Schedule .timeTitle {
    color: #226e8c;
    font-size: max(3vmin, 15px);
    font-weight: 500;
    margin-bottom: 5vh;
}

.Schedule .timeButtons {
    display: flex;
    justify-content: space-evenly;
    
}
.Schedule .timeButtons button {
    font-weight: 500;
    padding: 1vh 1vw;
    border-radius: 6px;
    min-height: 25px;
    font-size: max(2.4vmin, 13px);
    font-weight: 600;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    min-width: 70px;
    margin-top: 5vh;
}
.Schedule .okButton{
    background-image: linear-gradient(140deg, #b9f7eb8c 20%, #87bed28c 60%);
    background-color: #b9f7eb;
    color: #226e8c;

}
.Schedule .cancelButton{
    background-image: linear-gradient(140deg, #5151518c 20%, #bababa8c 60%);
    background-color: #535353;
    color: white;

}
.Schedule .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30vw;
    height: 30vh;
    border-radius: 20px;
}
.Schedule .react-time-picker__wrapper {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 4px;
    color: white;
}

.Schedule .react-time-picker__inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #717171;
}

 .react-time-picker__inputGroup__input {
    border: none;
    color: white;
    padding: 5px;
    margin: 0 2px;
    text-align: center;
    width: 4vw;
}

 .react-time-picker__inputGroup__divider {
    color: white;
    font-size: 24px; /* Adjust the font size as needed */

}

.Schedule .react-time-picker__clock {
    background-color: #333;
    border: 1px solid #444;
}

.Schedule .react-time-picker__button {
    background-color: #636363;
    border: none;
    color: white;
    cursor: pointer;
}
.Schedule .react-time-picker__inputGroup__amPm {
    border:none;
    box-shadow: none;
}
.Schedule .react-time-picker__inputGroup__amPm option{
    color: #226e8c;
    font-weight: 500;
}
.Schedule .react-time-picker__inputGroup__hour{
    width: 50px;
}
.Schedule element.style{
    width: 50px;

}
