.Nav {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    background-color: #ffffffd5;
    color: rgb(0, 0, 0);
    border-radius: 0px 0px 20px 20px;
    font-size: max(2vmin, 13px);
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
    height: 8vh;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.504),
        rgba(255, 255, 255, 0.247)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Nav .logoImage {
    border-radius: 5px;
}
.Nav .o {
    color: black;
}

.Nav .l {
    color: rgb(0, 0, 0);
}
.Nav .brand {
    align-items: center;
    margin-left: 2vmin;
    font-size: 15px;
}

.Nav .me-auto {
    display: flex;
    width: 100%;
}

.Nav .me-auto .info {
    margin-left: auto;
    margin-right: 5vmin;
    display: flex;
}
.Nav .button {
    border: none;
    margin-left: 0;
    padding-left: 0;
}

.Nav .button-box {
    width: 6vw;
    height: 4vh;
    position: absolute;
    display: flex;
    border-radius: 30px;
    background: #fff;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.Nav .toggle-btn {
    font-size: max(2.5vmin, 12px);
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    width: 3vw;
    transition: 0.5s;
    height: 4vh;
}

.Nav .selected {
    color: white;
}

.Nav .btn {
    top: 0;
    position: absolute;
    width: 3vw;
    background: linear-gradient(135deg, #226e8c, #0d4155);
    border-radius: 15px;
    box-shadow: 3px 0px 8px 2px #6f6f6f82;
    transition: 0.5s;
    height: 4vh;
}
.Nav .left {
    box-shadow: -3px 0px 8px 2px #6f6f6f82;
}
.Nav .language-toggle {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.Nav .language-toggle2 {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

html[dir="rtl"] .Nav .me-auto .info {
    margin-right: auto;
    margin-left: 5vmin;
}
html[dir="rtl"] .Nav .brand{
    margin-right: 2vmin;

}
html[dir="rtl"] .Nav .button {
    margin-right: 0;
    padding-right: 0;
}
html[dir="rtl"] .Nav .left {    
    right: 3vw;
}
html[dic="rlt"] .Nav .btn {
    right: 0;
}
html[dir="rtl"] .Nav .language-toggle {
    margin-left: 3vw;
}
html[dir="rtl"] .Nav .language-toggle2 {
    margin-left: 5vw;
}
html[dir="ltr"] .Nav .left {
    left: 3vw;
}
html[dir="ltr"] .Nav .btn {
    left: 0;
}
html[dir="ltr"] .Nav .language-toggle {
    margin-right: 3vw;
}
html[dir="ltr"] .Nav .language-toggle2 {
    margin-right: 5vw;
}
html[dir="rtl"] .Nav .o {
    text-align: right;
}
@media screen and (max-width: 800px) {
    .Nav .me-auto .info {
        margin-left: 0;
        margin-right: 5vmin;
        display: flex;
    }
}
