.SearchResult{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    display: flex;
    justify-content: space-between;

}
.SearchResult .classes{
    background:linear-gradient(135deg,rgba(255, 255, 255, 0.504),rgba(255, 255, 255, 0.247));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 8px 2px #6f6f6f82;  
      border-radius: 20px;
    width: 20vw;
    display: block;
    border-radius: 20px;
    border-radius: 20px;
    padding: 4vh 0vw;
    font-size: max(3.5vmin, 13px);
    font-weight: 600;
    color: #115069;
    height: min-content;
}

.SearchResult .partTitle {
    margin-left: 2vw;
    font-size: max(2.9vmin, 12px);
    font-weight: 600;
    margin-bottom: 5vh;
    color: #0d4155;

}
.SearchResult button{
    height: 8vh;
    align-items: center;
    border: none;
    width: 100%;
    text-align: start;
    border-bottom: #c9c9c9c8 solid 2px;
    display: grid;
    padding-left: 2vw;
    font-size: max(2vmin, 12px);
    font-weight: 500;
    background-color: #5d8da000;
    color: #1c627e;
}

.SearchResult .selected {
    color: rgba(255, 255, 255, 0.722);
    font-weight: 600;
    font-size: max(2.25vmin, 14px);
    background:linear-gradient(90deg,#226e8c 0%,rgba(255, 255, 255, 0) 90%);
    border: none;
}
.SearchResult .result{
    margin-top: -3vh;
    width: 68vw;
}